/*
 * ==========================================
 *    Customised CSS for the documentation
 * ==========================================
 */

/*
 * Code blocks:
 */

pre {
	border-radius: 0.5em;
}

code,
pre {
	border: none;
	border-radius: 0.5em;
	margin: 1em 0;
}

/*
 * Topbar:
 */

.tsd-page-toolbar {
	border: none;
}

/*
 * Baseboard:
 */

.tsd-generator {
	border-top: none;
	background: var(--color-background-secondary);
	filter: brightness(1.1);
}

.tsd-generator > p {
	padding-left: 2rem;
}

@media (min-width: 770px) {
	.tsd-generator > p {
		padding-left: 3rem;
	}
}

/*
 * Type definition groups:
 */

.tsd-member-group {
	padding: 1.3em;
	background: var(--color-background-secondary);
	filter: brightness(1.25);
	border-radius: 0.5em;
}

.tsd-signature {
	border-radius: 0.5rem;
}

.tsd-signatures .tsd-signature {
	border-radius: 0px;
}

.tsd-description .tsd-signatures .tsd-signature {
	border-radius: 0.5em;
}
